
.idea
.vscode
build/
config/*.local.*
config/*.local
config/local.*
coverage/
docker/
node_modules/
tmp/
temp/
__tests__/
.husky
*.txt
*.log
.env
.env.*
**/*.local
**/local.*
**/*.local.*
**/*.md
**/*.bak
